<section>
  <h1>My Team</h1>
  <div class="tbl-header">
    <button (click)="newTeam()" class="btn btn-primary"> New Team </button>

    <table cellpading="0" cellspacing="0" border="0">
      <thead>
        <tr>
          <th *ngFor="let header of tableHeaders">{{header}} </th>
          <th>Actions</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let team of (teams$ | async)">
          <td>{{team.name}}</td>
          <td>{{team.country}}</td>
          <td>
            <p *ngFor="let player of team.players">{{player.name}}</p>
          </td>
          <td>
            <button class="btn btn-danger" (click)="editTeam(team)">Edit</button>
            <button class="btn btn-danger" (click)="deleteTeam(team)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</section>
<app-team-dialog *ngIf="showModal" [team]="selectedTeam" (closeDialog)="closeDialog()"></app-team-dialog>