<div id="open-modal" class="modal-window">
  <div>
    <a href="#" title="close" class="modal-close" (click)="onClose()">Close</a>
    <h1>{{player?'Edit':'New'}} Player Form</h1>
    <div>
      <form #playerForm="ngForm" novalidate (ngSubmit)="onSubmit(playerForm)">
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" class="form-control" name="name" [ngModel]="player?.name" ngModel required />
        </div>
        <div class="form-group">
          <label for="lastName">Last Name</label>
          <input type="text" class="form-control" name="lastName" [ngModel]="player?.lastName" ngModel required />
        </div>
        <div class="form-group">
          <label for="position">Position</label>
          <select class="form-control" name="position" [ngModel]="player?.position" ngModel required>
            <option *ngFor="let position of squadNumber" [value]="position.key">{{position.label}} </option>
          </select>
        </div>
        <div class="form-group">
          <label for="lastName">Weight</label>
          <input type="text" class="form-control" name="weight" [ngModel]="player?.weight" ngModel required />
        </div>
        <div class="form-group">
          <label for="lastName">Height</label>
          <input type="text" class="form-control" name="height" [ngModel]="player?.height" ngModel required />
        </div>
        <div class="form-group">
          <label for="position">Nationality</label>
          <select class="form-control" name="nationality" [ngModel]="player?.nationality" ngModel required>
            <option *ngFor="let nationality of countries" [value]="nationality.key">{{nationality.label}} </option>
          </select>
        </div>
        <div class="form-group">
          <label for="lastName">Left Footed</label>
          <input type="checkbox" class="form-control" name="leftFooted" value="false" [ngModel]="player?.leftFooted"
            ngModel required />
        </div>
        <div class="submit-container">
          <button class=" btn btn-block btn-success" type="submit">Enviar</button>
        </div>
      </form>
    </div>
  </div>
</div>