<div id="open-modal" class="modal-window">
    <div>
      <a href="#" title="close" class="modal-close" (click)="onClose()">Close</a>
      <h1>{{team?'Edit':'New'}} Team Form</h1>
      <div>
        <form #teamForm="ngForm" novalidate (ngSubmit)="onSubmit(teamForm)">
          <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" name="name" [ngModel]="team?.name" ngModel required />
          </div>
          
          <div class="form-group">
            <label for="position">Country</label>
            <select   ng-disabled="team" class="form-control" name="country" [ngModel]="team?.country" ngModel required >
              <option *ngFor="let country of nationality" [value]="country.key" >{{country.label}} </option>
            </select>
          </div>
          
          <div class="submit-container">
            <button class=" btn btn-block btn-success" type="submit">Enviar</button>
          </div>
        </form>
      </div>
    </div>
  </div>