<section>
  <div class="tbl-header">
    <div class="container">
      <h1>Players</h1>
      <div class="interior">
        <button (click)="newPlayer()" class="btn btn-primary"> New Player </button>
      </div>
      <table cellpading="0" cellspacing="0" border="0">
        <thead>
          <tr>
            <th>Name</th>
            <th>Last Name</th>
            <th>Positions</th>
            <th>Weight</th>
            <th>Height</th>
            <th>Nationality</th>
            <th>Left Footed</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody> 
          <tr *ngFor="let player of (players$ | async)">
            <td>{{player.name}}</td>
            <td>{{player.lastName}}</td>
            <td>{{player.position}}</td>
            <td>{{player.weight}}</td>
            <td>{{player.height}}</td>
            <td>{{player.nationality}}</td>
            <td>{{player.leftFooted}}</td>
            <td>
              <button class="submit btn btn-primary" (click)="editPlayer(player)">Edit</button>
              <button class="submit btn btn-danger" (click)="deletePlayer(player)">Delete</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>
</section>
<app-player-dialog *ngIf="showModal" [player]="selectedPlayer" (closeDialog)="closeDialog()"></app-player-dialog>