/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css');
body{
    font-family: 'roboto';
    margin: 0%;
    padding: 15px;
    background: #7c9fd9;
}
table{
    background: #F1F1F1;
    width: 100%;
}
table thead{
    color: #fff;
    background:#6f1772
}
table td, table th{
    padding: 5px
}
app-player-dialog{
    background:rgba(0,0,0,.6);
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center
}
.modal-window{
    background: #FFF;
    padding: 25px;
    position: relative;
    padding-top: 65px;
    border-color: solid 3px #EEE;
    .modal-close{
        position: absolute;
        background-color: #F00;
        color: #FFF;
        top: 0;
        right: 0;
        width: 50px;
        height: 50px;
        content: 'x';
        text-align: center;
        vertical-align: middle;
        z-index: 2
    }
    h1{
        font-size: 30px;
        position: absolute;
        width: 100%;
        left: 0;
        top: 0;
        padding-right: 50px;
        line-height: 50px;
        margin: 0;
        padding-left: 25px;
        background-color: #d5dff0;
    }
}
.tbl-header{
    margin: 50px;
}